{%- extends "bootstrap/base.html" -%}

{%- block metas -%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{%- endblock metas -%}

{%- block title -%}
    {%- if title -%}
        {{ title }} - Circulation
    {%- else -%}
        Circulation
    {%- endif -%}
{%- endblock -%}

{%- block styles -%}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
{%- endblock -%}

{%- block body_attribs %} class="Site"{%- endblock -%}


{%- block navbar -%}
    {% include "navbar.html" %}
{%- endblock -%}

{%- block content -%}
    <main class="container-fluid Site-content">
        {%- block alerts -%}
            {% include "alerts.html" %}
        {%- endblock -%}
        {%- block mycontent -%}
        {%- endblock -%}
    </main>
    {%- block footer -%}
        {% include "footer.html" %}
    {%- endblock -%}
{%- endblock -%}


{%- block scripts -%}
    <script src="{{ url_for('static',filename='js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{%- endblock scripts -%}
